---
title: ".edu Email Verification"
date: 2018-11-18T12:33:46+10:00
weight: 1
---

Verifying with your schools email address ensures that a safe marketplace is created. You can rest assured that you are negotiating with somebody associated with your university. This layer of security also ensures that scammers and bad actors can’t create multiple accounts.